.container3 {
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #FFFFFF;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.canvas{
	display: grid;
	height: 100%;
	/* justify-items: center; */
	grid-gap: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.pixel{
	background-color: rgb(237, 237, 237);
    border-radius: 0px;
	height:1vh;
	width:1vh;
}